body {
 margin: 0;
 content: 1219px;
 font-family: Roboto, sans-serif;
}
.top-menu{
    width: 1219px;
    height: 84px;
    background: #076;
}
.logo {
    float: left;
    padding-left: 55px;
    padding-top: 20px;
}
.menu{
    float: right;
    margin: 0;
    padding-right: 55px;
    padding-top: 28px;
  }
  ul li {
    display: inline; 
    font-size: 24px;
    color:#fff;
  }
  ul li + li:before{
    content:"|";
    padding: 0px 5px 0px 5px;
}
  .menu a{
    color: #fff;
    text-decoration: none;
  }
