* {
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 72px;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 64px;
    color: #076;
    padding: 20px 55px 20px 55px;
}

p {
    padding: 20px 55px 20px 55px;
    font-size: 32px;
    text-align: justify;
}

header {
    position: fixed;
    background: #076;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

nav {
    max-width: 1219px;
    margin: auto;
    padding-top: 5px;
}

.logo {
    float: left;
    padding-left: 55px;
}

.menu {
    float: right;
    padding-right: 55px;
}

ul li {
    display: inline;
    font-size: 24px;
    color: #fff;
}

ul li+li:before {
    content: "|";
    padding: 0px 5px 0px 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.section1 {
    background-image: url(img/image-1.png);
}

.section1 h1 {
    max-width: 1219px;
    margin: auto;
    line-height: auto;
    width: 100%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

.bold {
    font-weight: bold;
}

.ppc {
    float: left;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 20px;
}

.italic {
    font-style: italic;
}

.section2 {
    padding-top: 55px;
    padding-bottom: 55px;
    background: rgb(238, 238, 238);
}

.section2 p,
h2 {
    max-width: 1219px;
    margin: auto;
}

.section3 {
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: url(img/image-2.png);
}

.section3 p {
    max-width: 1219px;
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    color: #fff;
    font-weight: 500;
    line-height: 56px;
}

.section4 {
    max-width: 1219px;
    margin: auto;
    padding-top: 55px;
    padding-bottom: 55px;
}

.section5 {
    background: rgb(238, 238, 238);
    padding-top: 55px;
    padding-bottom: 55px;
}

.content {
    max-width: 1219px;
    margin: auto;
}

table {
    max-width: 1219px;
    margin: auto;
    padding: 20px 55px 20px 55px;
    width: 100%;
}

td {
    padding: 20px 20px 20px 20px;
}

table p {
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

table h4 {
    text-align: center;
    font-size: 24px;
    color: #076;
}

footer {
    background: #333;
    padding-top: 55px;
    padding-bottom: 55px;
}

footer p {
    margin: auto;
    max-width: 540px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}